* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

.float-right{
    float: right;
}

/* HEADER SECTION */
/* alert header */
.alert-modal{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.alert-content {
    background-color: #e5e5e5;
    border-bottom: #004a75 1px solid;
    display: block;
    height: auto;
    margin: auto;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
}

.alert-title{
    display: inline-block;
    margin: 20px 0;
    color: #2F4F4F;
    font-size: 14px;
    font-weight: 800;
    padding: 0 30px;
}

.alert-title a{
    text-decoration: none;
}

.alert-button{
    border: 1px solid #2F4F4F;
    padding: 10px 20px;
    color: #e5e5e5;
    background-color: #004a75;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.alert-button:hover{
    border: 1px solid #004a75;
    color: #004a75;
    background-color: #e5e5e5;
}
/* endof alert */

.header {
    width: 100%;
    height: 550px;
    background-image: url('../img/work-desk__dustin-lee.jpg');
    background-color: #004a75;
    background-blend-mode: multiply;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
}

.header .logo-image{
    padding: 20px;
    float: left;
}

.header .header-title{
    margin: 3em 0;
    line-height: 1.5em;
}

.header .header-title .big-title{
    padding: 10px 0;
    font-size: 32px;
    font-weight: lighter;
}

.header .header-title .sub-title{
    padding: 10px 0;
    font-weight: bold;
} 

.header .cta{
    border: #e5e5e5 1px solid;
    color: #e5e5e5;
    background: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.header .cta:hover {
    background-color: #e5e5e5;
    color: #004a75;
}

/* CONTENT SECTION */

.content {
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    padding: 20px 0;
}

.content .content-title{
    margin: 3em 0;
    line-height: 1.5em;
    text-align: center;
}

.content .content-title .big-title{
    padding: 10px 0;
    font-size: 32px;
    font-weight: lighter;
    color: #2F4F4F;
}

.content .content-title .sub-title{
    font-size: 18px;
    font-weight: 500;
    color: #2F4F4F;
}

.content .highlight{
    border: #cccccc 1px solid;
    box-shadow: inset 0 0 5px #FFFFC8;
    padding: 20px;
    text-align: left;
    color: #2F4F4F;
}

.content .highlight .big-title{
    font-size: 22px;
    color: #2F4F4F;
    padding-bottom: 10px;
}

/* FOOTER SECTION */

.footer{
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: auto;
    background-color: #004a75;
}

.footer .footer-title{
    color: #e5e5e5;
    text-align: center;
}

/* footer alert */

.footeralert{
    background: rgba(0, 123, 193, 0.9); 
    position: fixed;
    left: 0;
    bottom: 0;
}

.footeralertbigtitle{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.plaintitle{
    color: white;
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
}

.form-email{
    height: 30px;
    width: 60%;
    color: grey;
    text-align: left;
    margin-right: 30px;
}

.submit-button{
    height: 30px;
    line-height: 15px;
    width: 30%;
    border: none;
    padding: 8px 0px;
    color: #e5e5e5;
    background-color: #ff8000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .footeralert{
        top:400px;
    }

    .form-email{
        width: 100%;
    }

    .submit-button{
        margin-top: 10px;
        width: 100%;
    }
}

.icon-exit{
    cursor: pointer;
    color: #ffffff;
}
/* endof alert */

/* RESPONSIVE */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 480px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 960px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }